<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>무인 택배 시스템</title>
</head>
    <body>
        <div class="container">
            <h1>무인 택배 시스템</h1>
            <form>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">주소</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext"
                               id="address" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Balance (ETH)</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext"
                               id="balance" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">ERC20 Token</label>
                    <table class="tokenTable">
                        <thead>
                            <tr>
                                <th width=300px>토큰 심볼</th>
                                <th>토큰 수량</th>
                            </tr>
                        </thead>
                        <tbody id="getToken"></tbody>
                    </table>
                </div>

                <!--<button type="button" id="accountButton" class="btn btn-primary mb-2", data-toggle="modal", data-target="#getacctModal">계정 정보 보기</button>-->
                <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#transferModal">전송하기</button>
                <form action="/examples/media/action_target.php" method="get">
   		<button type="submit" formaction="/DBpage" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addTokenModal">택배 내역 보기</button>
</form>
                <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addTokenModal">토큰 추가하기</button>
		<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addNonceModal">난수 생성하기</button>

            </form>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">내 택배의 고유번호</th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div id="console" style="overflow-y: scroll; height: 200px; margin-top: 50px"></div>
        </div>

        <!-- Transfer Modal -->
        <div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">전송하기</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="transferForm">
                            <div class="form-group">
                                <label>Contract</label>
                                <input type="text" class="form-control" name="contract" value="">
                            </div>
                            <div class="form-group">
                                <label>받는 주소</label>
                                <input type="text" class="form-control" name="to_address" value="0x1d773AFc03906832b9F10A225E8401c2A03dC821">
                            </div>
                            <div class="form-group">
                                <label>보낼 수량</label>
                                <input type="text" class="form-control" name="amount" value="1">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="transferButton" class="btn btn-primary">전송하기</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Tokne Modal -->
        <div class="modal fade" id="addTokenModal" tabindex="-1" role="dialog" aria-labelledby="addTokenModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="m:xxodal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">토큰 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="tokenForm">
                            <div class="form-group">
                                <label>Contract Address</label>
                                <input type="text" class="form-control" name="token_contract" value="">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="addTokenButton" class="btn btn-primary">추가하기</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>



	
	<!-- Add nonce Modal -->
        <div class="modal fade" id="addNonceModal" tabindex="-1" role="dialog" aria-labelledby="addNonceModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">랜덤값 생성</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="nonceForm">
                            <div class="form-group">
                                <label>주소</label>
                                <input type="text" class="form-control" name="balance_contract" id="balance_n" value="">
                            </div>
			    <div class="form-group2">
                                <label>Nonce</label>
                                <input type="text" class="form-control" name="nonce_contract" id="nonce_n" value="">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="sendButton" class="btn btn-primary" >전송하기</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
	
	        <!-- DB history modal -->


        <script>


            $(document).ready(function() {
                getAccountInfo();
                getToken();
                add_nonce();
		getDB();

                // bind event
                $('#transferButton').click(function() {
                    transfer();
                });
               /* $('#historyButton').click(function() {
                    getAccountHistory();
                });*/
                $('#addTokenButton').click(function() {
                    addToken();
                });
		$('#sendButton').click(function(){
		    add_nonce();
		});
		//$('#getDBButton').click(function(){
		//    getDB();
		//});
		
            });




	    function add_nonce() {
	      $.get('/api/add_nonce', function(data) {
		//var add_nonce = data.add_nonce();
		$('.table > tbody').html('');
		var html =""
		html += '<tr>';
		html += '<th scope = "row">' + data +'</t>';
		html += '</tr>';
		$('.table > tbody').append(html);

		$('#nonce_n').val(data);
		
		console.log(data);
             });
	   }

            function getAccountInfo() {
              $.get('/api/get_info', function(data) {
		$('#address').val(data.address);
		$('#balance').val(data.balance);
		$('#balance_n').val(data.address);
              });
            }


            function transfer() {
                var data = $('#transferForm').serialize();
                $.post('/api/transfer', data, function(data) {
                    var result = data.result;
                    if(result == 'success'){

                    } else {
                        alert('트랜잭션 실패')
                    }
                });
            }

            function getToken() {
                $.get('/api/get_token', function(data) {
                    console.log(data)
                    var token_count = Object.keys(data).length;
                    console.log(token_count);
                    for(var i = 0; i < token_count; i++){
                        console.log(data[i].symbol)
                        mytable = document.getElementById('getToken'); 
                        row = mytable.insertRow(mytable.rows.length);  
                        cell1 = row.insertCell(0);  
                        cell2 = row.insertCell(1);
                        cell1.innerHTML = data[i].symbol
                        cell2.innerHTML = data[i].balance
                    }
                })
            }

            function addToken() {
                var data = $('#tokenForm').serialize();
                $.post('/api/add_token', data,  function(data) {
                    console.log(data)
                })
            }

		//function getDB(){
		//	$.get('/api/getDB',function(data){
		//		console.log("DB");
		//	});
		//}
            
     
        </script>
    </body>
</html>
